body{
    margin: 0;
    padding: 0;
    font-family: 'Otomanopee One', sans-serif;
}

nav{
    display: flex;
    background-color: rgba(172, 87, 7, 0.945);
    height: 80px;
    width: 100%;
}

.nav-content{
    display: flex;
    width: 50%;
}

.nav-element{
    padding: 30px;
}

nav img{
    margin-top: 5px;
    height: 80%;
    width: 15%;
}

.nav-content a{
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
}

.nav-content a:hover{
    color: black;
    background-color:white;
}

.link-button{
    text-decoration: none;
    padding: 15px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.home{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    padding: 50px;
}
.edu{
    padding: 100px;
    display: flex; 
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
   
}
.edu img{
    width: 80%;
    height: 90%;
}
section{
    padding-top: 5%;
}
.skill{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    padding: 50px;
}
.skill img{
    width: 80%;
    height: 90%;
}
.home-element{
    width: 50%;
    padding-left: 5%;
}
.home img{
    width: 80%;
    height: 90%;
}
.contact{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.foo{
    display: flex;
}
.contact img{
    width: 80%;
    height: 90%;
}
.orange{
    color: orange;
}

.edu-element{
    width: 25%;
    padding: 10px;
}
li{
    font-size: 25px;
}

.address{
    width: 50%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    margin: 10%;
    border-left: 10px solid;
    border-image: linear-gradient(red,tomato);
    border-image-slice: 1;
}
.h1{
    text-align: center;
}
footer{
    text-align: center;
}
.email h3{
    margin-top: 70px;
}
.address-detail{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}